<div class="view product-logo-customization" id="view-id">



  <!-- -------------------------------------- ---
  ---- --  SIDEBAR :: POSITIONS            -- ---
  ---- -------------------------------------- -->
  <div class="view-column positions" *ngIf="!isPreview">
    <app-plc-positions-list [hide]="isPreview">
      <app-plc-position-item *ngFor="let position of $POSITIONS | async;"

        [isActive] = "position.name === ($POSITION | async).name"
        [name] = "position.name"
        [colors] = "position.colors"

        (active)="onPositionActive(position)"
        (enable)="onPositionEnable(position)"
        (colorChange)="onPositionColorChange(position, $event)"

      ></app-plc-position-item>
      <br>
      <div class="buttons" style="width: 100%;">
        <div class="buttons-wrapper">
          <button (click) = "previewClip()"> PREVIEW CLIP </button>
          <button (click) = "saveClip()"> SAVE CLIP IMAGE4 </button>
        </div>
      </div>
    </app-plc-positions-list>
  </div>
  <!-- -------------------------------------- -->





  <!-- -------------------------------------- ---
  ---- --  CONTENT :: PREVIEW AND PICTURES -- ---
  ---- -------------------------------------- -->
  <div class="view-column preview-and-pictures">


      <!-- -------------------------------- ---
      ---- -- CONTENT :: ROW :: PREVIEW  -- ---
      ---- -------------------------------- -->
      <div class="view-row preview" id="preview-id" style="overflow: hidden;" dndDropzone (dndDrop)="onDrop($event)" >
        <app-plc-preview style="height: 100%; width: 100%;; overflow: hidden;">
            <canvas id="cnv-board"></canvas>
        </app-plc-preview>
      </div>
      <!-- -------------------------------- -->


      <!-- -------------------------------- ---
      ---- -- CONTENT :: ROW :: PICTURES -- ---
      ---- -------------------------------- -->
      <div class="view-row pictures" *ngIf="!isPreview" style="overflow: hidden;">
        <app-plc-picture-carousel
          style="width: var(--plc-view-pictures-width); overflow: hidden;"
          [hide]="isPreview"
          [pictures] = "picturesList"
          (addPicture)="addPicture($event)">

            <app-plc-picture-thumb
              [id]="picture.id"
              [src]="picture.src"
              [dndDraggable]="picture"
              (remove)="removePicture(picture)"
              *ngFor="let picture of $PICTURES | async ; let k = index; trackBy: trackByIds "
            ></app-plc-picture-thumb>

            </app-plc-picture-carousel>
      </div>
      <!-- -------------------------------- -->

  </div>
  <!-- -------------------------------------- -->


</div>

