/* ---------------------------------------------
 ---- Product Logo Customization Components ----
 -----------------------------------------------*/
 @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

 div.view.product-logo-customization{

    display: block;
    width: 100%;

    font-family: 'Open Sans', sans-serif;

    /* !IMPORTANT FIXED VALUE */
    --plc-view-width: 100vw;
    --plc-view-height: 800px;

    --plc-view-sidebar-width: 350px;
    --plc-view-sidebar-height: var(--plc-view-height);

    --plc-view-content-and-pictures-width: calc( var(--plc-view-width) - var(--plc-view-sidebar-width) );
    --plc-view-content-and-pictures-height: var(--plc-view-height);

    --plc-view-pictures-width: var(--plc-view-content-and-pictures-width);
    --plc-view-pictures-height: 185px;

    --plc--view-content-preview-width: var(--plc-view-content-and-pictures-width);
    --plc--view-content-preview-height: calc( var(--plc-view-content-and-pictures-height) - var(--plc-view-pictures-height));

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

    width: var(--plc-view-width);
    height: var(--plc-view-height);

    padding: 0px;
    margin: 0px;

    border: 1px solid #b7b7b7;
    border-left: 0px;
    border-right: 0px;

 }
 /* ----------------------------------------- */




/* ---------------------------------------------
 ---- Column :: Preview And Pictures        ----
 -----------------------------------------------*/
  div.view-column.preview-and-pictures{

    display: inline-block;
    vertical-align: top;
    position: relative;

    width: var(--plc-view-content-and-pictures-width);
    height: var(--plc-view-content-and-pictures-height);

    padding: 0px;
    margin: 0px;

    background-color: #f9f9f9;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

  }

  div.view-row.preview, div.view-row.preview section{
    display: block;
    width: 100%;
    height: calc( var(--plc-view-content-and-pictures-height) - 185px);
    overflow: hidden;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

  }
  div.view-row.preview{
    position: relative;
    top: 0px;
    left: 0px;
  }
  div.view-row.preview section{
    position: absolute;
    top:0px;
    left: 0px;
  }
  div.view-row.preview section#IDPreviewZone{
    z-index: 0;
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px);

  }
  div.view-row.preview section#IDPreviewLogos{
    z-index: 0;
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
  div.view-row.preview section#IDPreviewZone.draging{
    z-index: 100;
    opacity: 0.5;
    filter: blur(0px);
    -webkit-filter: blur(0px);

    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;

  }
  div.view-row.preview section#IDPreviewLogos.draging{
    z-index: 0;
    opacity: 1;
    filter: blur(8px);
    -webkit-filter: blur(8px);

    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }

  div.view-row.pictures{

    width: 100%;
    height: 185px;

    overflow-y: hidden;
    overflow-x: scroll;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

/* ----------------------------------------- */






/* ----------------------------------------------
 ---- DragAndDrop :: Preview                 ----
 -----------------------------------------------*/
div.preview--wrapper{
  display: block;
  position: absolute;

  width: var(--plc-view-content-and-pictures-width);
  height: calc( var(--plc-view-content-and-pictures-height) - 185px);

  top: 0px;
  left: 0px;

  overflow: hidden;

}
div.preview--wrapper--container{
  display: block;
  position: absolute;
  width: var(--plc-view-content-and-pictures-width);
  height: calc( var(--plc-view-content-and-pictures-height) - 185px);
  top: 0px;
  left: 0px;
  overflow: hidden;
}

div.preview--product, div.preview--drag-drop-logos{
  display: block;
  position: absolute;

  width: var(--plc-view-content-and-pictures-width);
  height: calc( var(--plc-view-content-and-pictures-height) - 185px);

  top: 0px;
  left: 0px;

  overflow: hidden;
}
div.preview--product{

  background-color: white;
  position: absolute;

  width: auto;
  height: auto;

}
div.preview--product img{
  display: block;
  position: initial;
  width: 500px;
}
div.preview--drop-can{
  position: absolute;
  bottom: 35px;
  right: 40px;
  width: 90px;
  padding: 2em;
  height: fit-content;
  cursor: pointer;
  box-sizing: border-box;
  pointer-events: none;

}
div.preview--drop-zone{
      display: block;
      width: 100%;
      height: 100%;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

}
div.preview--zoom{
  position: absolute;
  bottom:0px;
  width: 100%;
  height: 35px;

  box-sizing: border-box;
  padding-right: 20px;

  display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

}
div.preview--drop-can img.close {
  display: block;
}
div.preview--drop-can img.open {
  display: none;
}
div.preview--drop-can:hover img.close {
  display: none;
}
div.preview--drop-can:hover img.open {
  display: block;
}

div.preview--drag-drop-logos{
  /*
  display: block;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0px;
  left:0px;
  */
}
div.preview--drag-drop-logos img.canvas--logo{
  display: block;
  position: absolute;
  z-index: 1;
  top: -100vh;
  left: -100vw;
}
div.preview--drag-drop-logos div.canvas--square{
  display: block;
  position: absolute;
  z-index: 10000;
  border:1px dashed red;
  min-width: 10px;
  min-height: 10px;
  top: 50%;
  left: 50%;
  pointer-events: none
}

div.buttons-wrapper{
  display: block;
  width: 100%;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  box-sizing: border-box;
    padding: 1em;

}



div.preview--trash-can{
  display:block;
  cursor: pointer;
  position: absolute;
  right: 50px;
  bottom: 50px;
  width: 100px;
  opacity: 0.5;
  box-sizing: border-box;
  padding: 1em;
  pointer-events: none
}
div.preview--trash-can img{
  display:block; width: 100%;
  pointer-events: none
}
