
<div id="add-picture-btn" class="add-picture button" (click)="file.click()">
  <span > + </span>
</div>

<input id="add-picture-input" type="file" accept="image/*" #file style="display: none;"  (change)="fileChangeEvent($event)">
