<div class="card picture-thumb" [ngClass] = "{ 'removing' : UX.isRemoving }">
  <div class="card--wrapper">
    <div class="picture-thumb">
      <img class="card--thumb" [alt]="id" [src]="src" >
      <span (click)="onClickRemove()">x</span>
    </div>
  </div>
</div>
