
 div.card.picture-add{
  display: block;
  width: 150px;
  min-width: 150px;
  height: 150px;

  box-sizing: border-box;
  padding: 1em;
}

 div.card.picture-thumb{
  display: block;
  width: 150px;
  min-width: 150px;
  height: 150px;

  box-sizing: border-box;
  padding: 1em;

  opacity: 1;
}

div.card.picture-thumb.removing{
  display: block;
  width: 0px;
  min-width: 0px;
  height: 0px;
  min-width: 0px;

  padding: 0px;

  opacity: 0;

  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

div.card.picture-add div.card--wrapper{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  padding: 1em;

  border: 1px solid gray;
}
div.card.picture-thumb div.card--wrapper{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  padding: 1em;

  border: 1px solid gray;
}


div.picture-thumb{
  display: block;
  width: 150px;
  min-width: 150px;
  height: 150px;

  box-sizing: border-box;
  padding: 1em;

  opacity: 1;
}

img.card--thumb{
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1em;
  object-fit: contain;
  object-position: center;
  position: absolute;
  top: 0px;
  left: 0px;
}
span{
  display: block;
  position: absolute;
  top: 0px;
  right: 7px;
  font-weight: 900;
  font-family: monospace;
  cursor: pointer;
}
span:hover{

}

