<div class="preview">
  <ng-content></ng-content>
  <div class="buttons buttons--zoom">
    <button class="zoom-in" (click)="doZoomIn()"> <span> + </span> </button>
    <button class="zoom-out" (click)="doZoomOut()"> <span> - </span> </button>
  </div>
</div>
