/* ---------------------------------------------
 ---- Card :: Position                      ----
 -----------------------------------------------*/
div.card.position{
  display: block;
  width: 100%;

  box-sizing: border-box;
  padding: 1em;

  font-family: 'Open Sans', sans-serif;

}

div.card.position div.card--wrapper{

 width: 100%;

 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
 -webkit-flex-direction: row;
 -ms-flex-direction: row;
 flex-direction: row;
 -webkit-flex-wrap: nowrap;
 -ms-flex-wrap: nowrap;
 flex-wrap: nowrap;
 -webkit-justify-content: flex-start;
 -ms-flex-pack: start;
 justify-content: flex-start;
 -webkit-align-content: stretch;
 -ms-flex-line-pack: stretch;
 align-content: stretch;
 -webkit-align-items: flex-start;
 -ms-flex-align: start;
 align-items: flex-start;
}

.no-checked-card{
  border: 1px solid rgb(226, 226, 226);
  border-radius: 1px;
}
.checked-card{
  border: 1px solid green;
  border-radius: 1px;
}

div.card.position.active div.card--wrapper{
  background-color: rgb(206, 206, 206);
}
div.card.position:hover div.card--wrapper{
 background-color: rgb(226, 226, 226);
 cursor: pointer;

 -webkit-transition: all 200ms ease-in-out;
 -moz-transition: all 200ms ease-in-out;
 -ms-transition: all 200ms ease-in-out;
 -o-transition: all 200ms ease-in-out;
 transition: all 200ms ease-in-out;

}
div.card--col{
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
 -webkit-flex-direction: column;
 -ms-flex-direction: column;
 flex-direction: column;
 -webkit-flex-wrap: nowrap;
 -ms-flex-wrap: nowrap;
 flex-wrap: nowrap;
 -webkit-justify-content: flex-start;
 -ms-flex-pack: start;
 justify-content: flex-start;
 -webkit-align-content: stretch;
 -ms-flex-line-pack: stretch;
 align-content: stretch;
 -webkit-align-items: center;
 -ms-flex-align: center;
 align-items: center;
}
div.card--col.card-checkbox{

  width: 60px;
  height: 60px;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
div.card--col.card-checkbox input{
   display: block;
   margin: 0px;
   padding: 0px;
 }
div.card--col.name-and-colors{

   width: calc( 100% - 60px);
   height: 60px;

   box-sizing: border-box;
   padding: 10px;
   padding-left: 0px;

   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   -ms-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-align-content: stretch;
   -ms-flex-line-pack: stretch;
   align-content: stretch;
   -webkit-align-items: flex-start;
   -ms-flex-align: start;
   align-items: flex-start;
}
div.card--col.name-and-colors h2{
  font-size: 16px;
  box-sizing: border-box;
  padding-bottom: 5px;
  margin: 0;
}
div.card--col.name-and-colors select{
  font-size: 10px;
  box-sizing: border-box;
  padding-bottom: 0px;
}
 /* ----------------------------------------- */
