<div class="card position"
      [ngClass]="{ 'active' : isActive}"
      (click)="setActive($event)">

      <div class="card--wrapper" [ngClass]="{ 'checked-card' : isChecked, 'no-checked-card': !isChecked }"
      >
        <div class="card--col card-checkbox">
          <input type="checkbox" (change)="setEnable($event)">
        </div>
        <div class="card--col name-and-colors">
          <h2> {{ name }} </h2>
          <select (change)="setColor($event)">
            <option *ngFor="let color of colors" [value]="color.id"> {{ color.description }}</option>
          </select>
        </div>
      </div>

</div>
