
/* ------------------------------------------------
 ---- PICTURE :: Position                      ----
 ------------------------------------------------*/

 div.picture-carousel{
  width: 100%;
  height: 185px;

  overflow-y: hidden;
  overflow-x: scroll;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
 }

 div.card.picture-add{
  display: block;
  width: 150px;
  min-width: 150px;
  height: 150px;

  box-sizing: border-box;
  padding: 1em;
}

 div.card.picture-thumb{
  display: block;
  width: 150px;
  min-width: 150px;
  height: 150px;

  box-sizing: border-box;
  padding: 1em;

  opacity: 1;
}

div.card.picture-thumb.removing{
  display: block;
  width: 0px;
  min-width: 0px;
  height: 0px;
  min-width: 0px;

  padding: 0px;

  opacity: 0;

  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

div.card.picture-add div.card--wrapper{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  padding: 1em;

  border: 1px solid gray;
}
div.card.picture-thumb div.card--wrapper{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  padding: 1em;

  border: 1px solid gray;
}

/* ----------------------------------------- */
