<div class="picture-carousel" id="cdkDragingPictureList"  >
<div class="card picture-add">
  <div class="card--wrapper">
    <app-plc-picture-add (addLogoPicture)="onAddLogoPicture($event)" ></app-plc-picture-add>
  </div>
</div>
  <ng-content></ng-content>
</div>
