<div class="position-list" >
  <h1 class="position-list--title">List of Positions</h1>
  <ul class="position-list--items">
    <li class="position-list--item">
      <ng-content></ng-content>
    </li>
    <li *ngIf="false">
      <hr>
      <input type="checkbox">
      <label> Drop Zone </label>
    </li>

  </ul>

  <div class="buttons--list" >
    <ng-content select="div.buttons"></ng-content>
  </div>
</div>

