/* ---------------------------------------------
 ---- Column :: Positions List                  ----
 -----------------------------------------------*/
div.position-list{

  display: inline-block;
  vertical-align: top;

  width: var(--plc-view-sidebar-width);
  height: var(--plc-view-sidebar-height);

  overflow-y: scroll;
  overflow-x: hidden;

  padding: 0px;
  margin: 0px;

  background-color: #f7f7f7;
  border-right: 1px solid #b7b7b7;

  display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

}
h1.position-list--title{
  font-weight: 700;
  font-size: 36px;
  font-family: 'Open Sans';

  color: #56778e;
  line-height: 36px;

  padding: 0.5em;
  margin: 0px;
}
ul.position-list--items{
  display: block;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 100%;

}
li.position-list--item{
  display: block;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
div.buttons--list{
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;


  display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    width: 100%;

}
  /* ----------------------------------------- */

